<div class="page-wrapper">
   
    <nav class="navbar">
      <div class="logo-container">
        <img src="assets/icons/logo.png" alt="PetalCare Logo" class="logo-icon" />
        <span class="logo-text">PetalCare</span>
      </div>
    </nav>
   
  <div class="login-card">
    <button class="top-back-btn" (click)="goBack()">
      <span class="arrow">&#8592;</span> Back
    </button>
    <h2>Create New Password</h2>
    <p class="subtitle">
      Please enter and confirm your new password.<br />
      
    </p>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <label>Password</label>
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter new password"
          [class.invalid]="submitted && passwordForm.get('password')?.invalid"
        />
        <span class="eye-icon" (click)="togglePassword()">
          <img [src]="showPassword ? 'assets/icons/eye-off-black.svg' : 'assets/icons/eye-black.svg'" alt="Toggle Password" />
        </span>
      </div>
      <div class="hint">must contain 8 char.</div>

      <label>Confirm Password</label>
      <div class="password-wrapper">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Confirm new password"
          [class.invalid]="submitted && (passwordForm.get('confirmPassword')?.invalid || passwordForm.errors?.['mismatch'])"
        />
        <span class="eye-icon" (click)="toggleConfirmPassword()">
          <img [src]="showConfirmPassword ? 'assets/icons/eye-off-black.svg' : 'assets/icons/eye-black.svg'" alt="Toggle Password" />
        </span>
      </div>
      <div *ngIf="submitted && passwordForm.errors?.['mismatch']" class="error-message">
        Passwords do not match.
      </div>
      <div *ngIf="errorMsg" class="error-message">{{ errorMsg }}</div>
      <button type="submit" class="login-btn" [disabled]="isLoading">
        {{ isLoading ? 'Resetting...' : 'Reset Password' }}
      </button>
    </form>
  </div>
</div> 