<div class="page-wrapper">
    <nav class="navbar">
      <div class="logo-container">
        <img src="assets/icons/logo.png" alt="PetalCare Logo" class="logo-icon" />
        <span class="logo-text">PetalCare</span>
      </div>
    </nav>
  
    <div class="login-card">
      <button class="back-btn" (click)="goBack()">← Back</button>
  
      <!-- Progress Bar -->
      <div class="progress-bar">
        <div class="progress-step step-1"></div>
      </div>
  
      <h2>Guardian Details</h2>
  
      <form [formGroup]="guardianForm" (ngSubmit)="nextStep()">
        <input
          type="date"
          formControlName="dob"
          placeholder="Select Date of Birth"
          [class.invalid]="submitted && guardianForm.get('dob')?.invalid"
          [max]="maxDob"
          #dobInput
        />

        <input
          type="text"
          formControlName="occupation"
          placeholder="Enter Occupation"
          [class.invalid]="submitted && guardianForm.get('occupation')?.invalid"
        />

        <div class="select-wrapper">
        <select
          formControlName="relationToChild"
          [class.invalid]="submitted && guardianForm.get('relationToChild')?.invalid"
        >
          <option value="" disabled selected>How are you related to patient?</option>
          <option value="Parent">Father</option>
          <option value="Guardian">Mother</option>
          <option value="Relative">GrandFather</option>
          <option value="Relative">GrandMother</option>
          <option value="Relative">Uncle</option>
          <option value="Relative">Aunt</option>
          <option value="Relative">Other</option>
        </select>
        </div>

        <a class="add-link" (click)="addOtherGuardian()">+ Add details of other Guardian</a>

        <button type="submit" class="login-btn">Next</button>
      </form>
    </div>
  </div>
