/* You can add global styles to this file, and also import other style files */
/* Global background for entire app */
html, body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #dbeafe, #f0fdf4) !important;
}
  
  
  .page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  .profile-container {
    background: none;
  }
  
  
  .dashboard-bg {
    background: none;
  }
  